//
   Created by AaronYuan on 5/25/16.

//直播频道
div.index-wrap.top-bg#topContainer
//- 顶部推荐视频模块
//其他频道
div.index-wrap.am-container
    //精彩饭趴
    section.perfect-wrap
        header.section-header.am-cf
            h2.am-fl='精彩饭趴'
            a(href='/channellist.html').am-fr='查看全部>>'
            span.tip HOT LIVE
        div#wonderfulList.viedo-content.am-g
            // 列表模板
            script#wonderfulItemTpl(type='text/html')
                | {{each data as item}}
                div.item.am-u-sm-3
                    a.top-link(href="{{item.status ===3? '/playback.html?roomId=':'/liveroom.html?roomId='}}{{item.roomId}}")
                        img(src="{{item.posterPic}}")
                        div.link-hover
                            | {{if item.status == 2}}
                            div.status.living
                            div.left-bottom.info
                                div.sub-info
                                    span.icons.chat
                                    | {{item.online}}
                                    span.icons.like
                                    | {{item.assemble}}
                            div.center.play
                            | {{else if item.status == 1}}
                            div.status.preview
                            div.left-bottom.time
                                div.sub-time
                                    | 直播时间: {{item.startTime}}
                            div.center.wait
                            | {{/if}}
                            div.right-top.gradient.boderRadAll_3
                                span='人气:'
                                span.white {{item.popularity}}
                            footer.gradient-up
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='{{item.roomName}}'
                            img.am-circle.avatar(src='{{item.creator.smallAvatar}}')
                            span.name='{{item.creator.nickName}}'
                        div.am-fr
                            button.am-btn.am-btn-red.boderRadAll_5(data-roomId='{{item.roomId}}')
                                i
                                span='顶上去'
                    footer.viedo-bg
                | {{/each}}
    //官方频道
    section.official-wrap
        header.section-header.am-cf
            h2.am-fl='官方频道'
            a(href='/channellist.html?list=yyt').am-fr='查看全部>>'
            span.tip='OFFICIAL CHANNEL'
        div#officialList.viedo-content.am-g.am-cf
            //- script#officialAsideTpl(type='text/html')
            //-     div.am-u-sm-3
            //-         | {{each data as item}}
            //-         div.item
            //-             | {{if item.channelId === 0}}
            //-             a.top-link(href="javascript:;")
            //-                 span.preview
            //-             div.anchor-info.am-cf
            //-                 div.am-fl
            //-                     div.title.am-text-truncate='{{item.desc}}'
            //-                     span.name='{{item.creator.nickName}}'
            //-             | {{else}}
            //-             a.top-link(href="/channellive.html?channelId={{item.channelId}}")
            //-                 img(src='{{item.posterPic}}')
            //-                 div.link-hover.gradient
            //-                 span.am-btn.am-btn-red.boderRadAll_3 进入TA的直播间
            //-             div.anchor-info.am-cf
            //-                 div.am-fl
            //-                     div.title.am-text-truncate='{{item.desc}}'
            //-                     img.am-circle.avatar(src='{{item.creator.largeAvatar}}')
            //-                     span.name='{{item.creator.nickName}}'
            //-             | {{/if}}
            //-             footer.viedo-bg
            //-         | {{/each}}
            script#officialCenterTpl(type='text/html')
                div.am-u-sm-3.center-wrap
                    div.item
                        a.top-link(href="/channellive.html?channelId={{channelId}}")
                            img(src='{{posterPic}}')
                            div.link-hover
                                //- div.center.play
                            span.am-btn.am-btn-red.boderRadAll_3 进入TA的直播间
                        div.anchor-info.am-cf
                            div.am-fl
                                div.title.am-text-truncate='{{desc}}'
                                img.am-circle.avatar(src='{{creator.largeAvatar}}')
                                span.name='{{creator.nickName}}'
                        footer.viedo-bg

    //站子频道
    //section.fan-channel-wrap
        header.section-header.am-cf
            h2.am-fl='站子频道'
            a(href='/channellist.html').am-fr='查看全部>>'
            span.tip='FAN CHANNEL'
        div.viedo-content.fan-list
            script#fanChannelItemTpl(type='text/html')
                | {{each data as item}}
                div.item
                    a.top-link(href="###")
                        img(src='{{item.posterPic}}')
                        div.link-hover.gradient
                        span.am-btn.am-btn-red.boderRadAll_3 进入TA的直播间
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='{{item.desc}}'
                            img.am-circle.avatar(src='{{item.creator.largeAvatar}}')
                            span.name='{{item.creator.nickName}}'
                    footer.viedo-bg
                | {{/each}}
    //入驻站子
    //section.fan-wrap
        header.section-header.am-cf
            h2.am-fl='入驻站子'
            a(href='#').am-fr='查看全部>>'
            span.tip='JOIN FAN STATION'
        div.content.join-fan-wrap
            script#joinFanListTpl(type='text/html')
                | {{each data as item}}
                a.item(href='###')
                    img(src='{{item.posterPic}}')
                    div.link-hover.gradient
                    div.am-text-truncate.name='{{item.desc}}'
                    span.am-btn.am-btn-red.boderRadAll_3 进入TA的直播间
                | {{/each}}
