//
   Created by AaronYuan on 5/25/16.
div.index-wrap.top-bg#topContainer
    script#recommendTpl(type='text/html')
        div.am-container.has-top-bar
            section.living
                header.am-vertical-align
                    span.am-vertical-align-middle.am-serif="直播频道"
                div.am-cf
                    div.live-viedo.am-fl
                        div.viedo-wrap#topFlash
                            | {{if data.status === 1}}
                            img(src='{{data.posterPic}}')
                            | {{/if}}
                        footer.am-fl
                            span.title='{{data.roomName}}'
                            | {{if data.status !== 1}}
                            button.gotoLiveHome.am-fr.am-btn.am-radius.am-btn-purple(data-id="{{data.id}}",data-status="{{data.status}}")='进入直播间'
                            | {{/if}}
                    aside.viedo-list.am-fr
                        ul#livingList
                            li
                                a(href='#').item.active
                                    img(src='/images/banner_09.jpg')
                                    div.link-hover.gradient-up.am-vertical-align
                                        span.am-text-truncate.am-vertical-align-bottom 圣诞快乐撒的发生圣诞快乐撒的诞快乐撒的发生
                            - for(var i = 4; i>0; i--)
                                li
                                    a(href='#').item
                                        img(src='/images/banner_09.jpg')
                                        div.link-hover.gradient-up.am-vertical-align
                                            span.am-text-truncate.am-vertical-align-bottom 圣诞快乐撒的发生圣诞快乐撒的诞快乐撒的发生
    script#liveItemTpl(type='text/html')
        li
            a(href='#').item
                img(src='/images/banner_09.jpg')
                div.link-hover.gradient-up.am-vertical-align
                    span.am-text-truncate.am-vertical-align-bottom 圣诞快乐撒的发生圣诞快乐撒的诞快乐撒的发生


div.index-wrap.am-container
    section.perfect-wrap
        header.section-header.am-cf
            h2.am-fl='精彩饭趴'
            a(href='#').am-fr='查看全部>>'
            span.tip HOT LIVE
        div.viedo-content.am-g
            div.item.am-u-sm-3
                a.top-link(href='###')
                    img(src='/images/banner_09.jpg')
                    div.link-hover
                        div.status.living
                        div.right-top.gradient.boderRadAll_3
                            span='人气:'
                            | 232
                        div.left-bottom.info
                            div.sub-info
                                span.icons.chat
                                | 123123
                                span.icons.like
                                | 324
                            div.sub-time
                                | 直播时间: 2016/2/12 12:23
                        div.center.play.wait
                        footer.gradient-up
                div.anchor-info.am-cf
                    div.am-fl
                        div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                        img.am-circle.avatar(src='/images/banner_09.jpg')
                        span.name='天天'
                    div.am-fr
                        button.am-btn.am-btn-red.boderRadAll_5
                            i
                            span='顶上去'
                footer.viedo-bg
            div.item.am-u-sm-3
                a.top-link
                    img(src='/images/banner_09.jpg')
                    div.link-hover
                        div.status.preview
                        div.right-top.gradient.boderRadAll_3
                            span='人气:'
                            | 232
                        div.left-bottom.time
                            div.sub-info
                                span.icons.chat
                                | 123123
                                span.icons.like
                                | 324
                            div.sub-time
                                | 直播时间: 2016/2/12 12:23
                        div.center.play.wait
                        footer.gradient-up
                div.anchor-info.am-cf
                    div.am-fl
                        div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                        img.am-circle.avatar(src='/images/banner_09.jpg')
                        span.name='天天'
                    div.am-fr
                        button.am-btn.am-btn-red.boderRadAll_5
                            i
                            span='顶上去'
                footer.viedo-bg
            div.item.am-u-sm-3
                a.top-link
                    img(src='/images/banner_09.jpg')
                    div.link-hover
                        div.status.preview
                        div.right-top.gradient.boderRadAll_3
                            span='人气:'
                            | 232
                        div.left-bottom.info
                            div.sub-info
                                span.icons.chat
                                | 123123
                                span.icons.like
                                | 324
                            div.sub-time
                                | 直播时间: 2016/2/12 12:23
                        div.center.play
                        footer.gradient-up
                div.anchor-info.am-cf
                    div.am-fl
                        div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                        img.am-circle.avatar(src='/images/banner_09.jpg')
                        span.name='天天'
                    div.am-fr
                        button.am-btn.am-btn-red.boderRadAll_5
                            i
                            span='顶上去'
                footer.viedo-bg
            div.item.am-u-sm-3
                a.top-link
                    img(src='/images/banner_09.jpg')
                    div.link-hover
                        div.status.living
                        div.right-top.gradient.boderRadAll_3
                            span='人气:'
                            | 232
                        div.left-bottom.time
                            div.sub-info
                                span.icons.chat
                                | 123123
                                span.icons.like
                                | 324
                            div.sub-time
                                | 直播时间: 2016/2/12 12:23
                        div.center.play.wait
                        footer.gradient-up
                div.anchor-info.am-cf
                    div.am-fl
                        div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                        img.am-circle.avatar(src='/images/banner_09.jpg')
                        span.name='天天'
                    div.am-fr
                        button.am-btn.am-btn-red.boderRadAll_5
                            i
                            span='顶上去'
                footer.viedo-bg

    section.official-wrap
        header.section-header.am-cf
            h2.am-fl='官方频道'
            a(href='#').am-fr='查看全部>>'
            span.tip='OFFICIAL CHANNEL'
        div.viedo-content.am-g.am-cf
            div.am-u-sm-3
                div.item
                    a.top-link
                        img(src='/images/banner_09.jpg')
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg
                div.item
                    a.top-link
                        img(src='/images/banner_09.jpg')
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg

            div.am-u-sm-3.center-wrap
                div.item
                    a.top-link
                        img(src='/images/banner_09.jpg')
                        div.link-hover
                            div.center.play
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg

            div.am-u-sm-3
                div.item
                    a.top-link
                        img(src='/images/banner_09.jpg')
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg
                div.item
                    a.top-link
                        img(src='/images/banner_09.jpg')
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg

    section.fan-channel-wrap
        header.section-header.am-cf
            h2.am-fl='站子频道'
            a(href='#').am-fr='查看全部>>'
            span.tip='OFFICIAL CHANNEL'
        div.viedo-content.fan-list
            - for(var i =8; i>0; i--)
                div.item
                    a.top-link(href="###")
                        img(src='/images/banner_09.jpg')
                    div.anchor-info.am-cf
                        div.am-fl
                            div.title.am-text-truncate='TTFBoys的直播TFBoys的直播TFBoys的直播FBoys的直播'
                            img.am-circle.avatar(src='/images/banner_09.jpg')
                            span.name='天天'
                    footer.viedo-bg


    section.fan-wrap
        header.section-header.am-cf
            h2.am-fl='入驻站子'
            a(href='#').am-fr='查看全部>>'
            span.tip='JOIN FAN STATION'
        div.content
            - for(var i=12; i>0; i--)
                a.item(href='###')
                    img(src='/images/banner_09.jpg')
                    div.am-text-truncate.name='呆呆萌呆萌呆萌呆萌呆萌萌萌呆萌'
                    span.am-btn.am-btn-red.boderRadAll_3 进入TA的直播间


